@media (min-width: 1200px){
	#how_it_work .box_inner{
		min-height:344px;
	}
}
@media (min-width: 992px) and (max-width:1199px){
	#how_it_work .box_inner{
		min-height:404px;
	}
} 
header .navbar-expand-lg .navbar-nav .nav-link{
	padding: 0 6px;
    font-size: 12px;
}
.navbar-expand-lg .navbar-nav.nav_btn a {
    padding: 10px 15px;
    font-size: 12px;
}
.banner_text h1 {
    font-size: 26px;
    line-height: 36px;
}
.banner_text h3{
	font-size:15px;
}
.security-body ul li label{
	font-size:12px;
	line-height:20px;
	padding:5px 10px;
}